---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant-db
  namespace: home
spec:
  dependsOn:
  - name: longhorn
    namespace: longhorn-system
  interval: 5m
  chart:
    spec:
      chart: postgresql
      version: 16.3.2
      sourceRef:
        kind: HelmRepository
        name: bitnami-charts
        namespace: flux-system
      interval: 5m
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    image:
      registry: docker.io
      repository: bitnami/postgresql
      tag: 16.1.0-debian-11-r21
    auth:
      database: hass
      username: hass
      existingSecret: home-assistant-db-secrets
    primary:
      persistence:
        enabled: true
        storageClass: longhorn
        # existingClaim: pvc-home-assistant-db0
        size: 100Gi

