apiVersion: v1
kind: Secret
metadata:
    name: home-assistant-db-secrets
    namespace: databases
type: Opaque
# seems to need both keys, idk why...
stringData:
    password: ENC[AES256_GCM,data:K0pnI9XyfHDHaNbCh/vMvqGE4+gsakAOfGR/znsmciFsEkU5FSPO0ggtm2puJ5fTqwY=,iv:5aipJdDCr+OuZcW6LlW+ld+ThgsrlBjX725OlZxesTo=,tag:OP8DBN/qpw2IBzEWFmmDTQ==,type:str]
    postgres-password: ENC[AES256_GCM,data:ouQ9V+uRrA7bSdMEIF9LLhpvO6+6HYMm/ujGpqkdSFKB49hiixPzBhjsel5h2ATFJX4=,iv:6v7wDYdRTwl860dUA+sNAKJoHSngVyY9H7XQnXfBiQo=,tag:TQLUB9cpaAHFivfibIP3tQ==,type:str]
sops:
    age:
        - recipient: age1582vh25trj6w7klwt38d44n5nr8njr8rrxxx5kcfu3y2ezx9ss3s6j24ex
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBnNndJZ20rZEJIMDJVVXZ4
            UDJoU2ZkYk1aQ1J1OFB0Y21wWlMwTEtLaUIwClRENDdtRXBraFZDMW1sbG15anpl
            VmVtSFFPeEtEL2lZM0dJSDYraFRYTnMKLS0tIEREWkNaQnJWazIwL2dvVUZIeHda
            RVl6Y1YydnE1MkVFcFdkMFcxYzc0eGcK7ry/zD34F2/0XEFoSxBeHtItcCZfzGMZ
            pBM7MSaf1f9D4JrAli3xSy3GLmkLMtwlTX4agBcZ2u0mP8CYMpBDwQ==
            -----END AGE ENCRYPTED FILE-----
        - recipient: age185kanaq3uw2gjx5enu2v69nk9ner3lamdevrfgx3wqucsl9ewa2qlt2gf7
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBHa2dpMWpGZzgyY2VLWlRH
            VXBLMCtjV0VMNDNzZ2xyamRBL1hOQUp4a1ZrCkxHbmFja3AvcEtiT0JtRXpTOUVq
            MVo1Q3ArM1pET1hPRTlMOXNkSmJ4S1UKLS0tIHV3L1lKMGNoK29pTFV1R2FacHhJ
            amJ0QXZrbHNIaitxdWVxQVZLTDdUT3MKQvyMrcMGgrp1+GT3wdkIcIzTnYFUSn4q
            GlctMkIM8X5uWUsrU/EThxhpZbe2JO1c3+KKo6anh9nT2FGd1Qy5FA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-09T22:55:04Z"
    mac: ENC[AES256_GCM,data:RVeOwttxehwXpRx1o5ilewd1VdYQaeKxtScfF/O/HGvDI2W0C8fSk4eHnFdC6sGAfoVCiIwqztV1rozh4gr9qUCyR/fYDvAGP6caBAUFpMIPySL4n6xzvpJzRGeFjhKFhSZ90igjOVRDUPcyd88NSHkvq7HUriskym5i1ew21zM=,iv:OkdoT2kS1kOnvc6v4dHDE8xEicypEo8grMtPDcrc+nM=,tag:mDPq+WFeNgIv+n1T54La4A==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
