apiVersion: v1
kind: Secret
metadata:
    name: home-assistant-db-secrets
    namespace: databases
type: Opaque
# seems to need both keys, idk why...
stringData:
    password: ENC[AES256_GCM,data:HUlZJcsmVi1mZE3LAPC6a9YzNXsVvlkJnAlV9S03I2iwh1OvvWgaLvn0vBkP3WGfe/nZZ/ni7k/96kf6upjmgQ==,iv:90ON5gtkKxVdQlff42YeT0JB2FWv4ptjbGst/z9xgg8=,tag:oe37TcL9XgUEc8VP4ZUyqA==,type:str]
    postgres-password: ENC[AES256_GCM,data:DGYJOu4/Jfcz+zlfLnNmFy7P1PjOmXKbXOP4krNrtBJYlzY5DBIfTJ+T4jHOGWClqKrPOoiBOOu6GGGP1dPLUQ==,iv:uugDJiVBpgMHbuM92xW+mhEBqCRPWxG5UJFw5YQGCv4=,tag:iR8V522nJE+zmf+pNpro4A==,type:str]
sops:
    age:
        - recipient: age1582vh25trj6w7klwt38d44n5nr8njr8rrxxx5kcfu3y2ezx9ss3s6j24ex
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBJK0RRaXd1WFJlTVUxb3I3
            OVU1VFVFT3ErYTRDQWF0NzkvZ1JOVWo1TENNCjR0bE9TNEcyV0VhVVl5d2lFYms3
            Z2R2Q2psMmU3VDEwR2FHcE1udUtueHcKLS0tIGZzMjVqSmozN1VDcHB4cStCWFpV
            cVNnNjVsU1VQU05SSkd2bXhrQUlGUncKo4MORs/x5Mnhe2DnHQ/f8NdXMeH/FlA9
            FvxcXxKBq1dz0s0z1sfH6mGJKATxY072HjmQQUIPS+al1NvvTqUMEA==
            -----END AGE ENCRYPTED FILE-----
        - recipient: age185kanaq3uw2gjx5enu2v69nk9ner3lamdevrfgx3wqucsl9ewa2qlt2gf7
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBNQkk5QlU5dkVtRjBXTGJQ
            WHZBS0dkZUcyZStISE1YWVZwS3pBN05qNkd3CkU5OWpjcVhIWkF5U29lTnNZbTFs
            Q3YxRWZaOW9Bd0RFMitNRGdDL25tNVEKLS0tIDdQWFRJQm5yVmU0bmFtQU8veVJI
            ZkpqWDRkbFdRcC82R2o4MmMvMjR2TDQK2JkQ3ZZgp+dAE2JMOloJO+EY/pGRKq7V
            Q3yjKxG6jQx3l1nSXt+los1roMnhy6NO397XnTeGj/8CxN9G8+gnAQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-10T21:24:49Z"
    mac: ENC[AES256_GCM,data:mwJChq6pcMtoGFqZyVYnMeYtDTWTmlICArmKtBj4N5K/3Ax+S/bHtN0UT3ThVDntcNpsv1VODY0LxlX0EbFkok8+lLXBorbnrnXFE+Giik53Xocnkp4ecGa1O64EYXcTDtXnHrx7dMGLfmfUjKeE+T1+kO4H/ACoKL0WiUB/UjY=,iv:FBKdXd19zMqBoSVP6bSU09nAHO7rqiM72b9+YH6g+B4=,tag:yI5Qr9Be7J8AFWCZoZYJsQ==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
