apiVersion: v1
kind: Secret
metadata:
    name: home-assistant-db-secrets
    namespace: databases
type: Opaque
data:
    password: ENC[AES256_GCM,data:VwJjaQFqPzgOHuTRmnwh/qXCP37tFDWkm2T7lb4kDjjy04xUoxDZKZW/Z+1IlT3gqbaSLVSI+wUA+pz1PF+UCQ==,iv:WwL9qSdKAaVv3k7lEu2qFqo6zLfAdo4vh1ZKIUHBo2Y=,tag:et0L0KoQrGgC4Oqwe6Ne8g==,type:str]
    username: ENC[AES256_GCM,data:9VGPag==,iv:FoR8cZhCS3Uw3zJ3f+xQhWks72slUiTnN5STF3/2CmY=,tag:H8VgsU+9bYjmu7Ks/jKSFg==,type:str]
sops:
    age:
        - recipient: age1582vh25trj6w7klwt38d44n5nr8njr8rrxxx5kcfu3y2ezx9ss3s6j24ex
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA1VmFGL2Y3KzFmVC9NaE10
            UzFaNmlQaGdEd1M3T3JrV0RaMU1kaUsrNHkwCkdOdWtVRGltSGRqUE04aWM0WkY0
            Q0dnb0dTY2drdDBXTGd6V3RlbWxFVUEKLS0tIHZydTB0aXNjaFVOR3MrUDZMem9n
            c2NYR1NXeTBpSzNhTllLQ25ERzFuN2cKeNfFrHW3/JKhcz7wVdq/I3sRiRlPWUTz
            YxianPnY6kCKyQ+Gboite8vroC435SecLaRMLlXHubxQo9wF8HKdSw==
            -----END AGE ENCRYPTED FILE-----
        - recipient: age185kanaq3uw2gjx5enu2v69nk9ner3lamdevrfgx3wqucsl9ewa2qlt2gf7
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA5Q2pDUEhWazFQT3ZPckdD
            SS9KYlhwd2tRVzNPb1RtOW02czhlcFl1NFhBClQ0OXN1c3hjdFE3SXpXVUZ1QXpJ
            aTNKRW5ZUHEwNDhVejJleHI2UXhYWUkKLS0tIHhPTGNOUXd2TCs1K1ZPbzFnaFV6
            dWJIUWY1QnJQd25WNS9laHh4Q3d6b0kKnRUyCc+HVcDF9Z85ev+4SnwfH5LDusD/
            3gTWxJptV6FiBHAPKk62dj+tbdxrYw88usR2g/fL7TeYow3IDnjKkw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-10T22:24:10Z"
    mac: ENC[AES256_GCM,data:ILqUSLl/SL18VLiZbcJmCgV9xqCf8MEk+iqC1m/YzIgyGryejPPwzdvvl8Kkc0swZ03UV2Dyg382tMpwYhcre5xFo6eZVbHNK824nUI8fP93PpIe7cWntS2iWO9PxFnEQSAU6ZBtT262op98QyuKkqBhBFBT5tJfQisLJ09YoOs=,iv:J4ggVD2BdMUqr2ZH4qj4f4ZANJ6r1Lf4e3evMfziEoE=,tag:ZBLd3xUUSKO6itbjJ74moA==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
