apiVersion: v1
kind: Secret
metadata:
    name: home-assistant-db-secrets
    namespace: databases
type: Opaque
# seems to need both keys, idk why...
stringData:
    password: ENC[AES256_GCM,data:g/U35rkZNIqnXAcYT7R2lcuTr+c1NKNIxT0ZUqGjyHIjyKzhHhhzAXkt+ikBcZImSOtVaKviFpfuPs/ulRfX0Q==,iv:yRqFI8tfCCQzd5ZItg5M7pEL2h2FLdTRHVt4sfCDmCQ=,tag:su2LymrtVoSN1jgWyUVN0w==,type:str]
    postgres-password: ENC[AES256_GCM,data:Vbs3pikH6MzEBLsqUMjEgapRNDXTdGyUc9UfC64SW9fZcfUbzcQ2338rcMGS32jZZYInJ8AEM1e2/8OzHoKIiQ==,iv:Wo2MIGZD7DvqT/+aekQq3iN4QSMIejP2qZl0jTb6/F4=,tag:hP/bAlTEZuNROcOuVKl0Zw==,type:str]
sops:
    age:
        - recipient: age1582vh25trj6w7klwt38d44n5nr8njr8rrxxx5kcfu3y2ezx9ss3s6j24ex
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBkZklwUkMxUjRQN2tuOEVD
            ZXh6dkpiZ0k2K3JQNmR4S3gvQi9ZOWUvcXhnCjA1bnBuUENqNW9qYzROL2o2dG8y
            cDF3aXJYZEhqeTR2dE9SMjBSUUNLSzAKLS0tIDJwR0Qyell4bEFqc01taGl3TnNi
            d1JVbS9GNWNDZENnR0ZoTkVLb2htZWcKfwUHOgyydJyE4LlOqi+xPzP2ZIAZRT1Y
            RIA2fXFvTge9xrN3Xrzbk5UJT/9NxyZR1w4Flq+fXZrqzycbqRTDHA==
            -----END AGE ENCRYPTED FILE-----
        - recipient: age185kanaq3uw2gjx5enu2v69nk9ner3lamdevrfgx3wqucsl9ewa2qlt2gf7
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBGa3M4ZnNrUHVEODJkdVNa
            Y2hqQlE3WFVXRWJvMWtpOU9kcThXOFJ4UVZFCkQzWXM5YTljeXNWZHhFc09XeDUw
            WDB3TlF3Y2ROeTVvM3F0SnZjcEFtZm8KLS0tIG1ldXlIam9pSm5TNkhQL1AzS0Nn
            V3dKWXo4SWNHeFRyMDRzci8wUnk0eTQKr+AyM3gW7J3X+vxmhpDGiaxBEqy7xgYC
            wOFRUPIb9JrlQZn2BERhlMNS1hg9mGLVLjfqgUqVGXSYlP/RG6/ipQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-10T19:40:53Z"
    mac: ENC[AES256_GCM,data:iZoTsQ4QQV8beXY6wgotC97b/N2XG2InyeCAid4E+93vKrHgaeEE/ZGEZmH8kamf3AE5qnmEErBHbDenTOCm4rbP+bHLQSzrfo/Wp60SVWwikqnXn8//uscNEFYouQVNf6HfReTaD3MbxqgAICYLw1N0EMsbspyNdFW5dKWAoL4=,iv:LeHpq+TdSmgNkjhjxVyz+pFBBCwNLlUCZKuEwg7IIHs=,tag:J8BZhcv+bK63+wkkq4EO5Q==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
