apiVersion: v1
kind: Secret
metadata:
    name: home-assistant-db-secrets
    namespace: databases
type: Opaque
stringData:
    password: ENC[AES256_GCM,data:MfT72irjYHgrQ3kPJoG7qmKveRA3b7bEKAjXPM1hoDXvAZwSMphOyXUVwkyQkBQP5tGAcYvRelk/MHBm8jfXRw==,iv:04DauTeo/Wk95lQjAlLeJNFUpWTc7aB+FcscmPuimlk=,tag:H7p5FbIRFFrR64q06sO0Sw==,type:str]
    username: ENC[AES256_GCM,data:TTa1rw==,iv:8GS/Z7C5N3KP80BkxA5I26pcUXeDElOq9vmr7+UjvAk=,tag:Q9CYknf8jhDFEVwAKsPw5Q==,type:str]
sops:
    age:
        - recipient: age1582vh25trj6w7klwt38d44n5nr8njr8rrxxx5kcfu3y2ezx9ss3s6j24ex
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA3Mm4zandyckN2akVGL2RQ
            bThJN2xWMXl4M0JHcFljU1ZGd1JSWW1lL2t3ClhSMFVrc0NhQVp1VDhnK3NRcXFy
            TlAwWlVwb1ZvcjJmaHVHZnBJaG1obUEKLS0tIERteFUrTllPQXNUa1BadzJLYWFC
            Q2RDejl4dktUMEdwaDhMSW9xcFdxSFUK6W1o3jKr+k1fxhh5tq6PhgRX+7t9ZvaQ
            9MBztYjoOo7YJqdw8Gik4MGd6aj4TmQMZJKacb5elFL08KieZD7zKQ==
            -----END AGE ENCRYPTED FILE-----
        - recipient: age185kanaq3uw2gjx5enu2v69nk9ner3lamdevrfgx3wqucsl9ewa2qlt2gf7
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBoanpMTGp1RVRKMkdKZk44
            ZWZ3ZGo5U080QklQb3B5YTVCYmE0L3RMOGx3CjV5N0NsVHlrN1BjUHZyZUNTSXFM
            VHhEajZuY1pKcS9FTWNhNHdlbDAwMUkKLS0tIG45eERicTlvOHYxWWoxMlh0TVJ2
            aWJCVlNUcjRKMXB4T2h6ZmVyQWQ4STAKche1J9cTDCyM0tdId/mkn08aHgqfpHwU
            kJpUm6XNnhhqtLn88YNxin6HoccYgeVKXLf+sfVuLB0Xh2rNN7S2YA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-10T22:35:09Z"
    mac: ENC[AES256_GCM,data:XdXdLRhoXYr2jaL3PTJXVvC3CZRRkchnIChZ0+pJKNb5KKpcbhEP72xZ3xxhA0S2dKmEdB+bf3K8ciOfYliTAnVbEkaIW9Y5D9m/pqXAn+O7om4J5h7lvyI38E6jCzgRq+uC06yM3XTwf7dIq54ue31g8kCPkNvGJ54ZD1rnmrA=,iv:3twXTOBdhm4kpaZygKYTTYyVUoZnWVNtIdHKmaLF904=,tag:aPvvpxAXNM6KXPmdlSfXmg==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
