apiVersion: v1
kind: Secret
metadata:
    name: home-assistant-db-secrets
    namespace: databases
type: Opaque
# seems to need both keys, idk why...
stringData:
    password: ENC[AES256_GCM,data:VOKAv2uiUFj3xEhMzoWrA0emN0412X/FR47u1OsgkGcbMDfl0IwVI8Glq9yPHSTI7wV9vE+loxCzVNFO0F5faA==,iv:mWIow0a68LpFRI5RapnhiAC8UtS8wOYB7fTpPXZ789A=,tag:7ou58VLJgTWaMu43ER0MrQ==,type:str]
    postgres-password: ENC[AES256_GCM,data:FNg1+5qpRDWgJc5HN+84xSNTA4mJT13e3D47zVS0CWop1gFe8MC5oAHGUfVZ4QQe81ELMffrjcG7PBt1QFeaEA==,iv:D+Pos2p+rkFfXZPfepaQ1GQVnUkdGCUj6W+mu8VGFrs=,tag:yxsDStL69uPbsO7wv1TKRA==,type:str]
sops:
    age:
        - recipient: age1582vh25trj6w7klwt38d44n5nr8njr8rrxxx5kcfu3y2ezx9ss3s6j24ex
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBaMlpVZ1p0OEYvNk02WUts
            RkF6Z0pReDgzNTR4U2RSUFJYTE81emtoU2dZClRUQ2YrbmpYUU54NmlnbVFKaXpH
            TVNzTEZiYk1xbkNkbVhzODJHR0p1RncKLS0tIEl4eUo0TXZjUUlLWXN2MHgrMmIz
            SmNzVEZWNExQZGQ0WkNlWnFQNk1mQ3MK8kF2x8s9nEyv7kq8ztIbseN4zCxPK8VI
            YAdtt0E+n2ZsPHajTbNcTQ9Vjfd+WhatkE1QevLZeLZI7o4ut6mYiA==
            -----END AGE ENCRYPTED FILE-----
        - recipient: age185kanaq3uw2gjx5enu2v69nk9ner3lamdevrfgx3wqucsl9ewa2qlt2gf7
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBkT2w5YWJ1Mkx0dzl2K1Nn
            eEVYcXFHRXI3V2dYb1crV0FNczJRdXhaUlJnCmlkbWc1a2pNWkJLakpRVWNZYm44
            eGNZdEFNS3NvQStPV1RPcFN2NDB1aVEKLS0tIDJxRXRhanZnRDkwMTdzYXNRazlU
            MndhS1pLcWdnaGRReTJyNTdQSnJ5L2cKVC3qQFt+JnyB0F1EYE75hLvWjDoyuudO
            4WuYFnrWklwpIVgVmb/4FVJ9pUix2bZ2xiRdp+fvXeKRnPRXbYuryg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-10T20:07:31Z"
    mac: ENC[AES256_GCM,data:OYthFhelk4F9Bb9T8ScVJaE8rD1pA26W9m2re8A1nTROHayYhq4Kv22Qdl10vPdDyJYiKQQcv1UyVchTG8DgZ5cBgoiP2SjAEKOlSbkwlOKJAhRqz4YYiU0mVpNeyYw+Ll3J1jjYHHw//DS2QHcz1nGdgwzwA8BVQ5YBoj5nWm8=,iv:gOPbnb3BhosH+00M/9yeKwrZbDIc9Zsh71ks+jphQ6E=,tag:GMJKUwSkv3nnwA14EyY8BQ==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
