---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: blocky-redis
  namespace: networking
spec:
  dependsOn:
  - name: longhorn
    namespace: longhorn-system
  interval: 5m
  chart:
    spec:
      chart: redis
      version: 20.11.2
      sourceRef:
        kind: HelmRepository
        name: bitnami-charts
        namespace: flux-system
      interval: 5m
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    global:
      storageClass: longhorn
    architecture: standalone
    auth:
      enabled: true
      password: ${BLOCKY_REDIS_PASSWORD}
    master:
      persistence:
        size: 200Mi
