---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cloudflared
  namespace: networking
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  values:
    controllers:
      cloudflared:
        replicas: 2
        strategy: RollingUpdate
        pod:
          # don't schedule more than one cloudflared tunnel per node
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: cloudflared
        containers:
          app:
            image:
              repository: docker.io/cloudflare/cloudflared
              tag: 2025.2.1
            args:
              - tunnel
              - --config
              - /etc/cloudflared/config/config.yaml
              - run
              - "$(TUNNEL_ID)"
            env:
              NO_AUTOUPDATE: "true"
              TUNNEL_CRED_FILE: /etc/cloudflared/creds/credentials.json
              TUNNEL_METRICS: 0.0.0.0:8080
              TUNNEL_TRANSPORT_PROTOCOL: auto
              TUNNEL_ID:
                valueFrom:
                  secretKeyRef:
                    name: cloudflared-secret
                    key: TunnelID
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ready
                    port: 8080
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ready
                    port: 8080
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ready
                    port: 8080
                  failureThreshold: 30
                  periodSeconds: 10
            resources:
              requests:
                cpu: 6m
                memory: 105Mi
              limits:
                memory: 256Mi
    service:
      app:
        controller: cloudflared
        ports:
          http:
            port: 8080
    configMaps:
      config:
        data:
          config.yaml: |
            ingress:
              - hostname: "${SECRET_PUBLIC_DOMAIN}"
                service: https://traefik.networking.svc.cluster.local:443
                originRequest:
                  originServerName: tun.${SECRET_PUBLIC_DOMAIN}
              - hostname: "*.${SECRET_PUBLIC_DOMAIN}"
                service: https://traefik.networking.svc.cluster.local:443
                originRequest:
                  originServerName: tun.${SECRET_PUBLIC_DOMAIN}
              - service: http_status:404

    persistence:
      config:
        type: configMap
        name: cloudflared-config
        globalMounts:
          - path: /etc/cloudflared/config/config.yaml
            subPath: config.yaml
            readOnly: true
      creds:
        type: secret
        name: cloudflared-secret
        globalMounts:
          - path: /etc/cloudflared/creds/credentials.json
            subPath: credentials.json
            readOnly: true
