---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: zigbee2mqtt
  namespace: home
spec:
  dependsOn:
  - name: longhorn
    namespace: longhorn-system
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 4.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  install:
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/koenkk/zigbee2mqtt
              tag: 2.7.2
            env:
              TZ: "${TIMEZONE}"
              ZIGBEE2MQTT_DATA: /data
            securityContext:
              privileged: true
    service:
      app:
        controller: main
        ports:
          http:
            port: &port 8080
    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_PUBLIC_DOMAIN}"]
        parentRefs:
          - name: traefik-gateway
            namespace: networking
            sectionName: websecure
        rules:
          - backendRefs:
              - identifier: app
                port: *port
            filters:
              - type: 'ExtensionRef'
                extensionRef:
                  group: 'traefik.io'
                  kind: 'Middleware'
                  name: 'forwardauth-authelia'
    persistence:
      # config:
      #   enabled: true
      #   type: "custom"
      #   volumeSpec:
      #     configMap:
      #       name: zigbee2mqtt-settings
      #  advancedMounts:
      #    main:
      #      main:
      #        - path: /app/data/configuration.yaml"
      #          subPath: "configuration.yaml"
      data:
        existingClaim: pvc-zigbee2mqtt
        advancedMounts:
          main:
            app:
              - path: /data
      usb:
        type: hostPath
        hostPath: /dev/serial/by-id/usb-dresden_elektronik_ingenieurtechnik_GmbH_ConBee_II_DE2490275-if00
        advancedMounts:
          main:
            app:
            - path: /dev/serial/by-id/usb-dresden_elektronik_ingenieurtechnik_GmbH_ConBee_II_DE2490275-if00
    defaultPodOptions:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            # note: label node like this 
            # kubectl label nodes k3s-agent5 app=zigbee-controller
            - matchExpressions:
              - key: app
                operator: In
                values:
                - zigbee-controller
