# yaml-language-server: $schema=https://www.authelia.com/schemas/v4.38/json-schema/configuration.json
theme: dark
default_2fa_method: totp
log:
  level: "info"
telemetry:
  metrics:
    enabled: false
totp:
  disable: false
  issuer: "auth.${SECRET_PUBLIC_DOMAIN}"
webauthn:
  disable: false
  display_name: Authelia
  attestation_conveyance_preference: indirect
  user_verification: preferred
  timeout: 60 seconds
authentication_backend:
  password_reset:
    disable: false
  ldap:
    implementation: custom
    address: ldap://openldap.auth.svc.cluster.local:389
    timeout: 5 seconds
    start_tls: false
    base_dn: "${SECRET_LDAP_BASE_DN}"
    additional_users_dn: ou=people
    users_filter: "(&({username_attribute}={input})(objectClass=posixAccount))"
    additional_groups_dn: "OU=Groups"
    groups_filter: "(&(member={dn})(objectclass=posixGroup))"
    permit_referrals: false
    permit_unauthenticated_bind: false
    permit_feature_detection_failure: false
    user: "cn=admin,${SECRET_LDAP_BASE_DN}"
password_policy:
  standard:
    enabled: false
    min_length: 8
    max_length: 0
    require_uppercase: false
    require_lowercase: false
    require_number: false
    require_special: false
  zxcvbn:
    enabled: false
    min_score: 0
session:
  same_site: lax
  name: "${SECRET_PUBLIC_DOMAIN}_auth_session"
  inactivity: 5m
  expiration: 1h
  remember_me: 1M
  cookies:
    - name: authelia-home-ops
      domain: "${SECRET_PUBLIC_DOMAIN}"
      authelia_url: "https://auth.${SECRET_PUBLIC_DOMAIN}"
  redis:
    host: authelia-redis-master.auth.svc.cluster.local
    port: 6379
    database_index: 0
regulation:
  max_retries: 3
  find_time: 2m
  ban_time: 5m
storage:
  postgres:
    address: "tcp://authelia-postgres-v17-rw.databases.svc.cluster.local:5432"
    timeout: 5s
    database: authelia
    schema: public
    username: authelia
notifier:
  disable_startup_check: false
  smtp:
    address: "submission://smtp-relay.gmail.com:587"
    timeout: 5s
    sender: "${SECRET_NOTIFICATION_EMAIL}"
    identifier: "${SECRET_PUBLIC_DOMAIN}"
    subject: "[${SECRET_PUBLIC_DOMAIN} auth] {title}"
    startup_check_address: "${SECRET_TEST_EMAIL}"
    disable_html_emails: false
    disable_require_tls: false
    disable_starttls: false
access_control:
  default_policy: "two_factor"
