apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: searxng
  namespace: home
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      searxng:
        annotations:
          reloader.stakater.com/auto: "true"
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/searxng/searxng
              tag: 2025.8.3-2e62eb5
            env:
              SEARXNG_BASE_URL: https://search.${SECRET_PUBLIC_DOMAIN}
              SEARXNG_URL: https://search.${SECRET_PUBLIC_DOMAIN}
              INSTANCE_NAME: tinfoilforest
    service:
      searxng:
        controller: searxng
        ports:
          http:
            port: &port 8080
    route:
      searxng:
        hostnames: ["search.${SECRET_PUBLIC_DOMAIN}"]
        parentRefs:
          - name: traefik-gateway
            namespace: networking
            sectionName: websecure
        rules:
          - backendRefs:
              - identifier: searxng
                port: *port
            filters:
              - type: 'ExtensionRef'
                extensionRef:
                  group: 'traefik.io'
                  kind: 'Middleware'
                  name: 'forwardauth-authelia'
    persistence:
      config:
        type: configMap
        name: searxng-config
        advancedMounts:
          searxng:
            app:
              - path: /etc/searxng/settings.yml
                subPath: settings.yml
                readOnly: true

