apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helm-release.yaml
configMapGenerator:
  - name: searxng-config
    namespace: home
    files:
      - settings.yml=./settings.yml
generatorOptions:
  disableNameSuffixHash: true
