---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sabnzbd
  namespace: media
spec:
  dependsOn:
  - name: longhorn
    namespace: longhorn-system
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 15m
  install:
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    controllers:
      main:
        containers:
          app:
            image:
              repository: lscr.io/linuxserver/sabnzbd
              tag: "4.5.5"
            env:
              TZ: "${TIMEZONE}"
            # to avoid permissions issues on volume
            securityContext:
              runAsUser: 0
              runAsGroup: 0
              fsGroup: 0
    service:
      app:
        controller: main
        ports:
          http:
            port: &port 8080
    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_PUBLIC_DOMAIN}"]
        parentRefs:
          - name: traefik-gateway
            namespace: networking
            sectionName: websecure
        rules:
          - backendRefs:
              - identifier: app
                port: *port
            filters:
              - type: 'ExtensionRef'
                extensionRef:
                  group: 'traefik.io'
                  kind: 'Middleware'
                  name: 'forwardauth-authelia'
    persistence:
      config:
        existingClaim: pvc-sabnzbd
        advancedMounts:
          main:
            app:
              - path: /config
      downloads:
        type: nfs
        server: "${NAS0_IP}"
        path: /volume1/downloads
        advancedMounts:
          main:
            app:
              - path: /downloads
