---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-immich-shared
  namespace: flux-system
spec:
  path: ./kubernetes/cluster0/apps/home/immich/shared
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops-cluster0
  interval: 30m
  retryInterval: 1m
  timeout: 3m

---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-immich-db
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-apps-longhorn
    - name: cluster-apps-immich-shared
  path: ./kubernetes/cluster0/apps/home/immich/db
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops-cluster0
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2beta1
      kind: HelmRelease
      name: immich-db
      namespace: home
  interval: 30m
  retryInterval: 1m
  timeout: 3m

---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-immich-redis
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-apps-longhorn
    - name: cluster-apps-immich-db
    - name: cluster-apps-immich-shared
  path: ./kubernetes/cluster0/apps/home/immich/redis
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops-cluster0
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2beta1
      kind: HelmRelease
      name: immich-redis
      namespace: home
  interval: 30m
  retryInterval: 1m
  timeout: 3m

---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-immich-microservices
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-apps-immich-db
    - name: cluster-apps-immich-shared
    - name: cluster-apps-immich-redis
  path: ./kubernetes/cluster0/apps/home/immich/microservices
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops-cluster0
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2beta1
      kind: HelmRelease
      name: immich-microservices
      namespace: home
  interval: 30m
  retryInterval: 1m
  timeout: 3m

---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-immich-machine-learning
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-apps-immich-db
    - name: cluster-apps-immich-shared
    - name: cluster-apps-immich-redis
  path: ./kubernetes/cluster0/apps/home/immich/machine-learning
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops-cluster0
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2beta1
      kind: HelmRelease
      name: immich-machine-learning
      namespace: home
  interval: 30m
  retryInterval: 1m
  timeout: 3m

---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-immich-server
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-apps-immich-db
    - name: cluster-apps-immich-redis
    - name: cluster-apps-immich-shared
  path: ./kubernetes/cluster0/apps/home/immich/server
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops-cluster0
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2beta1
      kind: HelmRelease
      name: immich-server
      namespace: home
  interval: 30m
  retryInterval: 1m
  timeout: 3m

