---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app blocky-primary
  namespace: networking
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 4.0.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 10m
  install:
    timeout: 10m
    replace: true
    crds: CreateReplace
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    remediation:
      remediateLastFailure: true
      retries: 3
      strategy: rollback
    cleanupOnFail: true
    crds: CreateReplace
  test:
    enable: true
  rollback:
    recreate: true
    force: true
    cleanupOnFail: true
  uninstall:
    keepHistory: false
  maxHistory: 3
  values:
    controllers:
      blocky-primary:
        containers:
          app:
            image:
              repository: ghcr.io/0xerr0r/blocky
              tag: v0.25
            resources:
              requests:
                cpu: 50m
                memory: 200Mi
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  tcpSocket:
                    port: &port 53
                  initialDelaySeconds: 15
                  periodSeconds: 30
                  failureThreshold: 3
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                add:
                  - NET_BIND_SERVICE
                drop:
                  - ALL
    service:
      app:
        controller: *app
        nameOverride: *app
        ports:
          http:
            port: 4000
      dns:
        controller: *app
        type: LoadBalancer
        externalTrafficPolicy: Cluster
        annotations:
          io.cilium/lb-ipam-ips: ${PRIMARY_DNS_IP}
        ports:
          dns-tcp:
            port: *port
            protocol: TCP
          dns-udp:
            port: *port
            protocol: UDP
    serviceMonitor:
      main:
        serviceName: *app
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s
    persistence:
      config:
        enabled: true
        type: configMap
        name: blocky
        globalMounts:
          - path: /app/config.yml
            subPath: config.yml
            readOnly: true
