---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich-machine-learning
  namespace: home
spec:
  dependsOn:
  - name: longhorn
    namespace: longhorn-system
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 4.1.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  install:
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    controllers:
      main:
        containers:
          app:
            image:
              repository: ghcr.io/immich-app/immich-machine-learning
              tag: v1.135.2
            resources:
              requests:
                cpu: 100m
                memory: 250Mi
            probes:
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
              liveness:
                enabled: true
              readiness:
                enabled: true
            env:
              MACHINE_LEARNING_HOST: 0.0.0.0
              MACHINE_LEARNING_PORT: &port 3003
              MACHINE_LEARNING_CACHE_FOLDER: /cache
              TRANSFORMERS_CACHE: /cache
            envFrom:
              - secretRef:
                  name: immich-secret
              - configMapRef:
                  name: immich-config
    service:
      app:
        controller: main
        ports:
          http:
            port: *port
    persistence:
      cache:
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        size: 10Gi
        globalMounts:
          - path: /cache
      photos:
        type: nfs
        server: "${NAS0_IP}"
        path: /volume1/photos
        globalMounts:
          - path: /usr/src/app/upload
