---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authelia-redis
  namespace: auth
spec:
  dependsOn:
  - name: longhorn
    namespace: longhorn-system
  interval: 5m
  chart:
    spec:
      chart: redis
      version: 21.0.2
      sourceRef:
        kind: HelmRepository
        name: bitnami-charts
        namespace: flux-system
      interval: 5m
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    global:
      storageClass: longhorn
    architecture: standalone
    auth:
      enabled: true
      existingSecret: auth-redis-secrets
      existingSecretPasswordKey: redis_password
    master:
      persistence:
        size: 100Mi
