---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/cilium.io/ciliuml2announcementpolicy_v2alpha1.json
apiVersion: cilium.io/v2alpha1
kind: CiliumL2AnnouncementPolicy
metadata:
  name: policy
spec:
  loadBalancerIPs: true
  interfaces:
    - ^enp.*
    - ^eno[0-9]+
    - ^eth[0-9]+
  nodeSelector:
    matchLabels:
      kubernetes.io/os: linux
