---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-dns
  namespace: networking
spec:
  interval: 5m
  chart:
    spec:
      chart: external-dns
      version: 1.20.0
      sourceRef:
        kind: HelmRepository
        name: external-dns-charts
        namespace: flux-system
      interval: 5m
  values:
    interval: 5m
    logLevel: debug
    provider: cloudflare
    env:
      - name: CF_API_EMAIL
        valueFrom:
          secretKeyRef:
            name: external-dns-cloud-credentials
            key: email
      - name: CF_API_KEY
        valueFrom:
          secretKeyRef:
            name: external-dns-cloud-credentials
            key: api-key
    extraArgs:
      - --crd-source-apiversion=externaldns.k8s.io/v1alpha1
      - --crd-source-kind=DNSEndpoint
      - --cloudflare-proxied
      - --source=gateway-httproute
    rbac:
      additionalPermissions:
        - apiGroups: [""]
          resources: ["namespaces"]
          verbs: ["get","watch","list"]
        - apiGroups: ["gateway.networking.k8s.io"]
          resources: ["gateways","httproutes","tlsroutes","tcproutes","udproutes"] 
          verbs: ["get","watch","list"]
    policy: sync
    sources:
      - ingress
      - crd
    txtPrefix: "k8s."
    txtOwnerId: "default"
    domainFilters:
      - "${SECRET_PUBLIC_DOMAIN}"
    resources:
      requests:
        memory: 100Mi
        cpu: 25m
      limits:
        memory: 250Mi
