---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: uptime-kuma
  namespace: monitoring
spec:
  dependsOn:
  - name: longhorn
    namespace: longhorn-system
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  install:
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    controllers:
      main:
        containers:
          app:
            image:
              repository: louislam/uptime-kuma
              tag: "1.23.16"
            env:
              TZ: "${TIMEZONE}"
              UPTIME_KUMA_PORT: 3001
              UPTIME_KUMA_DISABLE_FRAME_SAMEORIGIN: 0
    service:
      app:
        controller: main
        ports:
          http:
            port: 3001
    ingress:
      main:
        annotations:
          traefik.ingress.kubernetes.io/router.entrypoints: websecure
          external-dns.alpha.kubernetes.io/target: "ipv4.${SECRET_PUBLIC_DOMAIN}"
        hosts:
          - host: &host "uptime.${SECRET_PUBLIC_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
    persistence:
      config:
        existingClaim: pvc-uptime-kuma
        advancedMounts:
          main:
            app:
              - path: /app/data
