---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: lidarr
  namespace: media
spec:
  dependsOn:
  - name: longhorn
    namespace: longhorn-system
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.7.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  install:
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    controllers:
      main:
        containers:
          app:
            image:
              repository: lscr.io/linuxserver/lidarr
              tag: 1.0.2.2592-ls101
            env:
              TZ: "${TIMEZONE}"
              PUID: 0
              PGID: 0
            # to avoid permissions issues on volume
            securityContext:
              runAsUser: 0
              runAsGroup: 0
              fsGroup: 0
    service:
      app:
        controller: main
        ports:
          http:
            port: 8686
    ingress:
      main:
        annotations:
          traefik.ingress.kubernetes.io/router.entrypoints: websecure
          traefik.ingress.kubernetes.io/router.middlewares: auth-chain-authelia-auth@kubernetescrd #,lidarr-theme@file
          external-dns.alpha.kubernetes.io/target: "ipv4.${SECRET_PUBLIC_DOMAIN}"
        hosts:
          - host: &host "{{ .Release.Name }}.${SECRET_PUBLIC_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
    persistence:
      config:
        existingClaim: pvc-lidarr
        advancedMounts:
          main:
            app:
              - path: /config
      music:
        type: nfs
        server: "${NAS0_IP}"
        path: /volume1/Music
        advancedMounts:
          main:
            app:
              - path: /music
      downloads:
        type: nfs
        server: "${NAS0_IP}"
        path: /volume1/downloads
        advancedMounts:
          main:
            app:
              - path: /downloads
