---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qbittorrent
  namespace: media
spec:
  dependsOn:
  - name: longhorn
    namespace: longhorn-system
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  install:
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          # do the torrent thing
          app:
            nameOverride: qbittorrent
            image:
              repository: ghcr.io/home-operations/qbittorrent
              tag: 5.1.4@sha256:56ecd30a7f5e1357daf5eea2a6935134d329b7b268a3a9b9c67041b65fb87fc6
            env:
              TZ: "${TIMEZONE}"
              QBITTORRENT__PORT: &port 8080
            resources:
              requests:
                cpu: 49m
                memory: 1024Mi
          # doh to avoid dns leaks
          dnsdist:
            image:
              repository: docker.io/powerdns/dnsdist-18
              tag: 1.8.4
          # do the vpn thing
          gluetun:
            image:
              repository: ghcr.io/qdm12/gluetun
              tag: v3.41.1@sha256:1a5bf4b4820a879cdf8d93d7ef0d2d963af56670c9ebff8981860b6804ebc8ab
            env:
              - name: FIREWALL_INPUT_PORTS
                value: "8080"
              - name: FIREWALL_OUTBOUND_SUBNETS
                # Allow access to k8s subnets
                value: "10.42.0.0/16,10.43.0.0/16"
              - name: SHADOWSOCKS
                value: "on"
              - name: DOT
                value: "off"
              - name: DNS_PLAINTEXT_ADDRESS
                value: "127.0.0.2"
              - name: TZ
                value: "${TIMEZONE}"
            envFrom:
              - secretRef:
                  name: qbittorrent-secrets
            securityContext:
              privileged: true
              capabilities:
                add:
                  - NET_ADMIN
        pod:
          securityContext:
            runAsUser: 0
            supplementalGroups: [100,10000]
    service: 
      app:
        controller: main
        ports:
          http:
            port: *port
    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_PUBLIC_DOMAIN}"]
        parentRefs:
          - name: traefik-gateway
            namespace: networking
            sectionName: websecure
        rules:
          - backendRefs:
              - identifier: app
                port: *port
            filters:
              - type: 'ExtensionRef'
                extensionRef:
                  group: 'traefik.io'
                  kind: 'Middleware'
                  name: 'forwardauth-authelia'
    persistence:
      config:
        existingClaim: pvc-qbittorrent
        advancedMounts:
          main:
            app:
              - path: /config
      dev-net-tun:
        type: hostPath
        hostPath: /dev/net/tun
      downloads:
        type: nfs
        server: "${NAS0_IP}"
        path: /volume1/downloads
        advancedMounts:
          main:
            app:
              - path: /downloads
      dnsdist-config:
        type: configMap
        name: qbittorrent-dnsdist
        advancedMounts:
          main:
            dnsdist:
              - path: /etc/dnsdist/dnsdist.conf
                subPath: dnsdist.conf
                readOnly: true
      gluetun-data:
        type: emptyDir
        advancedMounts:
          main:
            gluetun:
              - path: /tmp/gluetun
