---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: monitoring
spec:
  interval: 15m
  chart:
    spec:
      chart: grafana
      version: 8.8.2
      sourceRef:
        kind: HelmRepository
        name: grafana-charts
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
  values:
    rbac:
      pspEnabled: false # disable psp, deprecatd in k8s 1.25
    replicas: 1
    deploymentStrategy:
      type: Recreate
    image:
      repository: grafana/grafana
      tag: 11.4.0
    ingress:
      enabled: true
      ingressClassName: "traefik"
      annotations:
        hajimari.io/enable: "true"
        hajimari.io/icon: "chart-bell-curve"
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        traefik.ingress.kubernetes.io/router.middlewares: "auth-chain-authelia-auth@kubernetescrd"
        external-dns.alpha.kubernetes.io/target: "ipv4.${SECRET_PUBLIC_DOMAIN}"
        external-dns/is-public: "true"
      hosts:
        - "grafana.${SECRET_PUBLIC_DOMAIN}"
    persistence:
      enabled: true
      storageClass: longhorn
      existingClaim: pvc-grafana
      retain: true
    admin: 
      existingSecret: grafana-secrets
      userKey: admin-user
      passwordKey: admin-password
