---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
  namespace: home
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 4.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  install:
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    controllers:
      main:
        initContainers:
          git-sync:
            image:
              repository: alpine/git
              tag: latest
            command:
              - sh
              - -c
              - |
                if [ -d /config/.git ]; then
                  echo "Git repository found, pulling latest changes..."
                  cd /config
                  git config --global --add safe.directory /config
                  git pull
                else
                  echo "No git repository found in /config"
                  echo "Please initialize your git repository first"
                fi
        containers:
          app:
            image:
              repository: ghcr.io/home-assistant/home-assistant
              tag: 2026.1.1
            env:
              TZ: "${TIMEZONE}"
              POSTGRESQL_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: home-assistant-db-secrets
                    key: password
            resources:
              requests:
                cpu: 47m
                memory: 1254M
    service:
      app:
        controller: main
        ports:
          http:
            port: &port 8123
    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_PUBLIC_DOMAIN}"]
        parentRefs:
          - name: traefik-gateway
            namespace: networking
            sectionName: websecure
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      config:
        existingClaim: pvc-home-assistant
        advancedMounts:
          main:
            git-sync:
              - path: /config
            app:
              - path: /config
