---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helm-release.yaml
  - ./secret.sops.yaml
labels:
  - pairs:
      app.kubernetes.io/name: miniflux
      app.kubernetes.io/instance: miniflux
