---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: networking
spec:
  interval: 5m
  chart:
    spec:
      chart: traefik
      version: 36.3.0
      sourceRef:
        kind: HelmRepository
        name: traefik-charts
        namespace: flux-system
      interval: 5m
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    deployment:
      enabled: true
      replicas: 3
    service:
      enabled: true
      type: LoadBalancer
      annotations:
        io.cilium/lb-ipam-ips: ${TRAEFIK_IP}
        # metallb.universe.tf/loadBalancerIPs: ${TRAEFIK_IP}
    tlsStore:
      default:
        defaultCertificate:
          secretName: "${SECRET_PUBLIC_DOMAIN/./-}-tls"
    tlsOptions:
      default:
        minVersion: VersionTLS12
        maxVersion: VersionTLS13
        sniStrict: true
    # experimental:
    #   plugins:
    #     enabled: true
    rbac:
      enabled: true
    ingressClass:
      enabled: true
      isDefaultClass: true
    ingressRoute:
      dashboard:
        enabled: false
    providers:
      kubernetesCRD:
        enabled: true
        allowExternalNameServices: true
        allowCrossNamespace: true
      kubernetesIngress:
        enabled: true
        allowExternalNameServices: true
        allowCrossNamespace: true
        ingressClass: traefik
        ingressEndpoint:
          ip: ${TRAEFIK_IP}
      # kubernetesGateway:
      #   enabled: true
    # gateway:
    #   listeners:
    #     web:
    #       port: 80
    #       protocol: HTTP
    #       namespacePolicy: All
    #     websecure:
    #       port: 443
    #       protocol: HTTPS
    #       namespacePolicy: All
    #       certificateRefs:
    #         - kind: Secret
    #           name: "${SECRET_PUBLIC_DOMAIN/./-}-tls"
    globalArguments:
      - "--api.insecure=true"
      - "--serversTransport.insecureSkipVerify=true"
      - "--providers.kubernetesingress.ingressclass=traefik"
    additionalArguments:
      - "--providers.kubernetesingress.ingressendpoint.ip=${TRAEFIK_IP}"
      - "--providers.kubernetescrd.allowexternalnameservices=true"
    ports:
      web:
        redirections:
          entryPoint:
            to: websecure
            scheme: https
            permanent: true
      websecure:
        exposedPort: 443  
        tls:
          enabled: true
          options: "default"
    logs:
      general:
        level: "INFO"
      access:
        enabled: true
